# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
*.g.dart
*.freezed.dart

# Firebase
google-services.json
firebase_options.dart

# IDE/Editor
.idea/
*.iml
.vscode/
.DS_Store

# Miscellaneous
*.log
*.lock 
